{% extends 'base.html' %}


 {% block content %}

    <h1> {{title}} </h1>

    <div class="response-container">
        {% for vacation in vacations %}
        <div class="vacancy-card">
            <div class="response-header">{{ vacation.agregator }}</div>

        <div class="response-header">{{ vacation.name }}</div>
        <div class="response-company">{{ vacation.company }}</div>
        <div class="response-salary">{{ vacation.salary }}</div>
        <div class="response-address">{{ vacation.address }}</div>
        <div class="response-experience">{{ vacation.experience }}</div>
        <div class="response-employment">{{ vacation.employment }}, {{ vacation.schedule }}</div>
        <div class="response-published_at">{{ vacation.published_at }} </div>
            <a class="response-url" href="{{ vacation.url }}">{{ vacation.url }}</a>
        </div>
        {% endfor %}
    </div>

    {% endblock %}


