

.login-container{
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background: white;
    border-radius: 12px;
    padding: 24px;
    margin-bottom: 20px;
    box-shadow: 0 2px 12px rgba(0, 0, 0, 0.1);
    border: 2px solid #40e0d0;
    transition: all 0.3s ease;
    position: relative;
    overflow: hidden;

}

.title-reg {
    text-align: center;
    width: 100%;
    margin: 0 0 40px 0;
    padding: 0;
    font-size: 24px;
    font-weight: bold;
    color: #333;
}

.form-input{
    text-size: bold;
    width: 100%;
    padding: 10px 15px;
    border: 2px solid #E5E7EB;
    border-radius: 6px;
    font-size: 12px;
    transition: all 0.3s ease;
    box-sizing: border-box;
}

.form-input:focus {
    border-color: #40e0d0;
    outline: none;
    box-shadow: 0 0 0 3px rgba(37, 99, 235, 0.1);
}


.login-container label{
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 8px;

}


.btn-login{
    background-color: white;
    border: none;
    padding: 18px 30px;
    border-radius: 6px;
    color: white;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.3s;
    width: 100%;
    color: black;
    border: 2px solid #E5E7EB;
    border-radius: 6px;
    margin-top: 20px;
}

.btn-login:hover {
    background-color: #40e0d0;
    color: white;
}